:root {
  
  --blue-900: 242 60% 5%; // #060514
  --blue-800: 242 69% 20%; // #121057
  --blue-600: 242 69% 33%; // #1E1A8F
  --blue-100: 242 37% 94%; // #E9E9F5
  
  --green-900: 140 6% 10%; // #181B19
  --green-500: 147 63% 47%; // #2DC472
  --green-300: 147 73% 78%; // #9DF0C3
  --green-100: 156 37% 92%; // #E3F2EC
}  


