:root {
  --bg-main: 216 12% 92%; // #E8EAED
  --text: 240 25% 8%; // #0F0F19
  --primary-color: 242 69% 20%; // #121057
  --link-color: 242 69% 33%; // #1E1A8F
  --link-hover: 242 69% 20%; // #121057
}

[data-theme='dark'] {
    --bg-main: 140 6% 10%; // #181B19
    --text: 156 37% 92%; // #E3F2EC
    --primary-color: 147 73% 78%; // #9DF0C3
    --link-color: 147 63% 47%; // #2DC472
    --link-hover: 147 73% 78%; // #9DF0C3
}
